# WishTrail Frontend Environment Variables
# -------------------------------
# Copy this file to `.env` and fill in your values

# API Base URL
VITE_BASE_URL=http://localhost:5000

# Firebase Configuration (for Web Push Notifications)
VITE_FIREBASE_API_KEY=your_firebase_api_key
VITE_FIREBASE_AUTH_DOMAIN=your_project_id.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=your_project_id
VITE_FIREBASE_STORAGE_BUCKET=your_project_id.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=your_sender_id
VITE_FIREBASE_APP_ID=your_app_id
VITE_FIREBASE_VAPID_KEY=your_vapid_key

# Google OAuth
# Get this from https://console.cloud.google.com/apis/credentials
# Make sure to add your domain to Authorized JavaScript origins
# and authorized redirect URIs
VITE_GOOGLE_CLIENT_ID=your_google_client_id_here.apps.googleusercontent.com


# VITE_DD_ENABLED=true
# VITE_DD_CLIENT_TOKEN=pub4cbe36c40a52162a6b3ac1099c03f392
# VITE_DD_APPLICATION_ID=2d5f2744-d544-4ec4-92d4-3cfd54a41cfc
# VITE_DD_SITE=us5.datadoghq.com
# VITE_DD_SERVICE=wishtrail-frontend-prod
# VITE_DD_ENV=development
# VITE_DD_VERSION=1.0.0
# VITE_DD_RUM_SESSION_SAMPLE_RATE=50
# VITE_DD_LOGS_SESSION_SAMPLE_RATE=50
# VITE_DD_SESSION_REPLAY_SAMPLE_RATE=10
# VITE_DD_DEFAULT_PRIVACY_LEVEL=mask-user-input
# VITE_DD_START_SESSION_REPLAY=false
